header {
  background: #cccccc;
  padding-left: 5px;
  padding-right: 5px;
}

header h1 {
  display: inline;
  vertical-align: middle;
}

header nav {
  font-size: 125%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  max-height: 3em;
  padding: 5px;
  vertical-align: middle;
}

figcaption {
  text-align: center;
}

.HasFigure {
  float: left;
}

.HasFigure:after {
  content: "";
  display: block;
  clear: both;
}

.HasFigure figure {
  float: right;
}

.MaxW25 {
  max-width: 25%;
}

.MaxW40 {
  max-width: 40%;
}